<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.scannerpro">
<uses-permission android:name="android.permission.CAMERA"/>
<meta-data
  android:name="androidx.camera.camera2.useCaseConfigFactory"
  android:value="androidx.camera.camera2.impl.Camera2CameraUseCaseConfigFactory" />
<meta-data
  android:name="camera.camerax.useLegacy"
  android:value="true" />
</manifest>
